# ========================
# 1. 屏蔽所有 Python 源码
# ========================


# ========================
# 2. 屏蔽本地配置文件和日志
# ========================
bot_config.json
bot_log.txt
*.ahk
.idea/
__pycache__/
*.pyc
.venv_release/

# ========================
# 3. 屏蔽打包的临时过程文件和内部资源
# ========================
build/
obf_temp/
*.spec
dist/
cache/
other/
oldversion/
bk/

# ========================
# 4. 允许上传的内容（这部分不写，Git会自动识别）
# ========================
# 我们要保留：
# - dist/ 文件夹 (你的exe)
# - images/ 文件夹 (外部截图)
# - version.json (你的更新文件)
